@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body{
    margin:0 auto;
    padding: 0;
    width: 1600;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: bisque;
}
#main-container{
    width: 100%;
    display: flex;
}
#search-div{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#recent-search-div {
    width: 25%;
    align-items:center;
    text-align: center;
    max-height: 900px;
    overflow-y: scroll;
}
#heading{
    margin: 20px;
    border: none;

}
#search-input {
    margin-right: 10px;
    background-color: rgb(112, 11, 151);
    color: bisque;
    border: none;
    border-radius: 5px;
    width: 400px;
    height: 35px;
    font-size: 1.5em;
}
#search-btn {
    background-color: rgb(112, 11, 151);
    color: bisque;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 2em;
    font-weight: bold;
}
#error-search-btn{
    background-color: rgb(112, 11, 151);
    color: bisque;
    border: none;
    border-radius: 5px;
    width: 350px;
    height: 50px;
    font-size: 2em;
    font-weight: bold;
}
ul{
    list-style: none;
}
li{
    border: 1px solid rgb(242, 175, 239);
    border-radius: 5px;
    margin: 10px;
}
.wishlist-btn{
    background-color: rgb(112, 11, 151);
    color: bisque;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 30px;
    text-align: left;
    font-size: 1.3em;
}
#wishlist-time{
    font-size: 0.8em;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}
.fa-trash {
    color: red;
    margin-left: 200px !important;
    font-size: 1.5em !important;
}
.fa-clock-o {
    color: rgb(253, 255, 174);
    padding-right: 5px;
    font-size: large !important;
}
#cards-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}
#card{
    border: 2px solid rgb(242, 175, 239);
    width: 250px;
    margin: 10px;
    height: 550px;
    border-radius: 5px;
}
#cover{
    width: 100%;
}
#book-title, #book-author{
    text-align: left;
    width: 100%;
    padding-left: 5px;
    font-size: 0.9em;
}

#published{
    padding-left: 5px;
    width: 100%;    white-space: normal;
    font-size: 0.8em;
}
#wishlist-text{
    margin-right: 10px;
    background-color: rgb(112, 11, 151);
    color: bisque;
    border: none;
    border-radius: 5px;
    width: 440px;
    height: 35px;
    font-size: 1.2em;
}
#wishlist-btn {
    background-color: rgb(112, 11, 151);
    color: bisque;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: 1.5em;
    font-weight: bold;
}