@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body{
    margin:0 auto;
    padding: 0;
    width: 1600;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: bisque;
}
#main-container{
    width: 100%;
    display: flex;
}
#nav{
    font-size: 1.5em;
    height: 11vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(11, 8, 53);
}
#nav-search-btn{
    background-color: rgb(112, 11, 151);
    color: bisque;
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 35px;
}
#search-div{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
#main-wishlist-div {
    width: 25%;
    align-items:center;
    text-align: center;
    max-height: 85vh;
    overflow-y: scroll;
}
#heading{
    margin: 20px;
    border: none;
}
#search-input {
    margin-right: 10px;
    background-color: rgb(112, 11, 151);
    color: bisque;
    border: none;
    border-radius: 5px;
    width: 400px;
    height: 35px;
    font-size: 1.5em;
}
#search-btn {
    background-color: rgb(112, 11, 151);
    color: bisque;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 2em;
    font-weight: bold;
}
#error-search-btn{
    background-color: rgb(112, 11, 151);
    color: bisque;
    border: none;
    border-radius: 5px;
    width: 350px;
    height: 50px;
    font-size: 2em;
    font-weight: bold;
}
ul{
    list-style: none;
    padding-right: 10px;
}
li{
    margin: 10px;
    border-radius: 5px; 
}
.wishlist-p{
    background-color: rgb(11, 8, 53);
    color: rgb(233, 245, 130);
    border-radius: 5px;
    border: none;
    height: 85px;
    text-align: left;
    font-size: 1.2em;
    padding-left: 5px;
    padding-top: 8px;
}
#wishlist-list-div{
    background-color:  rgb(11, 8, 53);
    border-radius: 10px;
}
#wishlist-time{
    font-size: 0.8em;

}
.fa-trash {
    color: rgb(253, 255, 174);
    margin-left: 180px !important;
    font-size: 1.5em !important;
    padding-bottom: 10px;
}
.fa-trash:hover{
    color: red;
}
.fa-clock-o {
    color: rgb(253, 255, 174);
    padding-right: 5px;
    font-size: large !important;
}
#cards-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    max-height: 900px;
    overflow-y: scroll;
}
#card{
    border: 2px solid rgb(242, 175, 239);
    width: 250px;
    margin: 10px;
    height: 550px;
    border-radius: 5px;
}
#cover{
    width: 100%;
    height: 40vh;
}
#book-title, #book-author{
    text-align: left;
    width: 100%;
    padding-left: 5px;
    font-size: 0.9em;
}
#bookmark{
    margin-left: 220px !important;
    font-size: 1.5em !important;
    padding-bottom: 10px;
}
#bookmark:hover{
    color: rgb(112, 11, 151);
}
#published{
    padding-left: 5px;
    width: 100%;
    white-space: normal;
    font-size: 0.8em;
}
#wishlist-text{
    margin-right: 10px;
    background-color: rgb(112, 11, 151);
    color: bisque;
    border: none;
    border-radius: 5px;
    width: 420px;
    height: 35px;
    font-size: 1.2em;
}
#wishlist-btn {
    background-color: rgb(112, 11, 151);
    color: bisque;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: 1.5em;
    font-weight: bold;
}